body {
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #f0f0f0;
    color: #333;
}
